body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hidden {
    display: none;
}

#popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}